.vercel
node_modules/
dist/
build/
release/
*.log
.DS_Store
Thumbs.db
.env
.env.local
android/.gradle/
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/build/
.captcha/
.vscode/
.idea/
*.swp
*.swo
